<h1 id="tableLabel">Scans</h1>

<div class="d-flex mb-4">
  <select class="form-select select" aria-label="Default select example" [(ngModel)]="selectedHost">
    @for (host of hosts; track host) {
      <option value="{{host}}">{{host}}</option>
    }
  </select>
  <button [disabled]="!canCreateScan || !selectedHost" type="button" class="btn btn-primary create-button" (click)="createScan()">Create scan</button>
  <button [disabled]="!canCreateScan || !selectedHost" type="button" class="btn btn-primary create-button" (click)="scheduleScan()">Schedule scan</button>
  <button type="button" class="btn btn-primary create-button" (click)="runScheduledScans()">Run scheduled scan</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (scan of scans; track scan.id) {
      <tr>
        <td>{{ scan.id }}</td>
        <td>{{ scan.name }}</td>
        <td>{{ scan.status }}</td>
        <td><button [disabled]="scan.status != 'completed' || !canDownload" class="btn" (click)="loadScan(scan)"><i class="fa-solid fa-download"></i></button></td>
      </tr>
    }
  </tbody>
</table>
